@charset "utf-8";
/* CSS Document */

.snai_tabella_esterna{
	width: 806px;
	vertical-align: top;
	margin: 0;
	text-align:left;
}
.snai_tabella_form{
	width:790px;
	background-color: #FFFFFF;
}
.snai_contattaci{
	height: 22px;
	background-image: url(/images/snai/contattaci.gif);
	font-family: Arial;
	font-size:11px;
	color: #FFFFFF;
}

/* Non visitata */
a.collegamento:link {
   color: #FFFFFF;
   text-decoration: none; 
}

/* Visitata */
a.collegamento:visited { 
   color: #FFFFFF;
   text-decoration: none; 
}

/* Puntatore sopra */	
a.collegamento:hover{ 
   color: #FFFFFF;
   text-decoration: underline;
}



p {
	font-family: Arial;
	font-size: 12px;
	color: #1f325f;
	padding: 0px 0px 0px 10px;
}

/* ------------ testi ---------------*/

.snai_testo_bianco{
	font-family: Arial;
	font-size:12px;
	color: #FFFFFF;
}

.snai_testo_blu{
	font-family: Arial;
	font-size:12px;
	color: #1e3174;
}

.snai_testo_blu_form{
	font-family: Arial;
	font-size:12px;
	color: #1e3174;
}

.snai_tabella_contattaci{
	background-image: url(../snaiSubscriptionForm_files/snai_contattaci.gif);
	background-position: top left;
	background-repeat:no-repeat;
	text-align: right;
}

/* ------------- form ---------- */

.snai_fieldset{
	width: 250px;
	font-size: 12px;
	color: #1f325f;
}

.snai_textarea{
	width:434px;
	height:50px;
	font-family: Arial;
	font-size: 11px;
	text-align: justify;
}
.snai_note{
	width:240px;
	height:40px;
	font-family: Arial;
	font-size: 10px;
}
.snai_text_input {
	width: 240px;
	height: 14px;
	font-family: Arial;
	font-size: 11px;
	color: #000000;
}
.snai_td_grigio{
	width: 294px;
	height: 35px;
	background-color: #CCCCCC;
	font-family: Arial;
	font-size: 12px;
	color: #1f325f;
}

.snai_td_azzurro{
	width: 294px;
	height: 35px;
	background-color: #D7E9F5;
	font-family: Arial;
	font-size: 12px;
	color: #1f325f;
}

.snai_td_bianco{
	height: 35px;
	background-color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	color: #1f325f;
}
.fieldError {
	width: 240px;
	background-color: red;
}

.descError {
	width: 240px;
	font-family: Arial;
	font-size: 12px;
	color:red;
	font-weight: bold;
	margin-left: 4px;
}

.headError {
	width: 100%;
	font-family: Arial;
	font-size: 12px;
	color:red;
	font-weight: bold;
	margin-left: 4px;
}

.ragionesociale {
	width: 180px;
	font-size: 12px;
	color: #1f325f;
}

.snai_titoli{
	padding-left: 10px;
	height:25px;
	font-family: Arial;
	font-size:16px;
	color: #FFFFFF;
	margin-bottom:5px;
}

.off_guest_buttons {
	display:none;
}

.on_guest_buttons {
}