#registration_menu {
	width: 100%;
}

#registration_menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#registration_menu li {
	border: 1px dashed #ccc;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	background-color: #eee;
}

#registration_form_container {
	font-size: 13px;
	margin-bottom: 40px;
}
#registration_form_container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#registration_form_container li {
	padding: 10px;
	margin-bottom: 10px;
}
#registration_form_container input {
	border: 1px dashed #ccc;
	width: 238px;
}

.td_sx {
	float:left;
	width: 200px;
	margin-right: 20px;
	font-weight: bold;
}
.td_dx {
	float:left;
}
.mandatory {
	color: #BE2525;
}


#confirmation_data_container {
	font-size: 12px;
	border: 1px dashed #ccc;
	padding: 10px;
	background-color: #eee;
}
#confirmation_data_container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#confirmation_data_container li {
	padding: 10px;
	margin-bottom: 10px;
}