<html>

<head>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="main.js"></script>
<link type="text/css" href="css.css" rel="stylesheet" />

</head>

<body>

<div id="container">

	<div id="sidebar">
		<div id="username_container">Ultime notizie</div>
		<div id="latest_news">
			<ul id="latest_news_ul">
				<li>
					<div class="latest_news_title">Olanda, rivolta delle infermiere: 'Non siamo escort'</div>
					<div class="latest_news_text">Il sindacato delle infermiere in Olanda ha lanciato una campagna a livello nazionale per sottolineare che tra le loro mansioni certi servizi sessuali non sono inclusi. Servizi, che a quanto riferisce la stampa del Paese, in determinati casi vengono interpretati come scontati dai pazienti, soprattutto durante le visite a domicilio di infermiere e assistenti.</div>
				</li>
				<li>
					<div class="latest_news_title">Rugby, l'Italia contro il colosso francese</div>
					<div class="latest_news_text">Uno dei punti di forza della Francia che, secondo il ct Mallett, andrebbe neutralizzato è la mediana. «Parra e Trinh-Duc si conoscono fin dalle nazionali giovanili - spiega -. Formano una coppia completa che è un'ottima cabina di regia, visto come riesce a far girare bene la squadra. E poi Trinh-Duc (il n. 10 franco-vietnamita, ndr) ha un buon piede ed è imprevedibile nelle scelte».</div>
				</li>
			</ul>
		</div>

		<!-- FRIENDS -->
		<div class="contacts">
			<div id="username_container">Nuovi iscritti</div>
			<ul class="contacts_ul">
				<li><a href="#"><img src="flickr4.jpg"></a></li>
				<li><a href="#"><img src="flickr1.jpg"></a></li>
				<li><a href="#"><img src="flickr2.jpg"></a></li>
				<li><a href="#"><img src="flickr3.jpg"></a></li>
				<li><a href="#"><img src="flickr6.jpg"></a></li>
				<li><a href="#"><img src="flickr5.jpg"></a></li>
				<li><a href="#"><img src="flickr7.jpg"></a></li>
			</ul>
		</div>
		
	</div>
	<div id="content">
		<div id="header">
			<div id="global_search_button">
				Cerca
			</div>
			<ul id="menu_ul">
				<li class="first">home</li>
				<li onclick="alert('eseguire funzione di shelf.html')">fubbyo</li>
				<li>contatti</li>
				<li>messaggi</li>
				<li>profilo</li>
				<li class="last">esci</li>
			</ul>
		</div>
		
		<div id="main_content">
			<div id="panels">
				<div id="left_panel">
					<a href="#" onclick="goRight(1)">Go right</a>
					left
				</div>
				<div id="central_panel">
					<div id="username_container">Ciao fubbyo!</div>
					
					<div id="shelf_middle_bar">
						<ul id="shelf_middle_bar_options">
							<li class="first last">Ecco gli ultimi film che hai aggiunto</li>
						</ul>
					</div>
					
					<ul id="shelf_content_ul">
							<li>
								<a href="movie.html"><img src="1556.jpg"></a>
								<div class="shelf_item_info_container">
									<span class="shelf_item_title">Shutter</span>
									<span class="shelf_item_director">di Martin Scorsese</span>
								</div>
							</li>
							<li>
								<a href="movie.html"><img src="47208.jpg"></a>
								<div class="shelf_item_info_container">
									<span class="shelf_item_title">Alice nel paese delle meraviglie</span>
									<span class="shelf_item_director">di Tim Burton</span>
								</div>
							</li>
							<li>
								<a href="movie.html"><img src="39371.jpg"></a>
								<div class="shelf_item_info_container">
									<span class="shelf_item_title">Robin Hood</span>
									<span class="shelf_item_director">di Ridley Scott</span>									
								</div>
							</li>
							<li>
								<a href="movie.html"><img src="47616.jpg"></a>
								<div class="shelf_item_info_container">
									<span class="shelf_item_title">Mine vaganti</span>
									<span class="shelf_item_director">di Ferzan Ozpetek</span>
								</div>
							</li>
						</ul>
				</div>
				
				<div id="right_panel">
					
				</div>
				
			</div>
		</div>
	</div>

</div>

<div id="footer">
	<a href="#">Informazioni su taMuvii</a> | <a href="#">Contatti</a> | <a href="#">Blog di taMuvii</a> | <a href="#">Aiuto</a>
</div>

</body>

</html>
