<b>Welcome on taMuvii!</b>
<br/>
<br/>
We received your subscription request, below you find your website access data.
<br/>
<br/>
Username: ${user.username}
<br/>
Password: ${user.confirmPassword}
<br/>
<br/>
To confirm your subscription click on <a href="${appURL}/confirmRegistration.html?e=${user.email}">questo link</a>. If you don't want to subscribe just ignore this email.