<html>

<head>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="main.js"></script>
<link type="text/css" href="css.css" rel="stylesheet" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1', {packages: ['columnchart']});
</script>
<script type="text/javascript">
  function drawVisualization() {
	// Create and populate the data table.
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Voto');
	data.addColumn('number', 'Numero di voti');
	data.addRows(5);
	data.setCell(0, 0, '1 stella');
	data.setCell(1, 0, '2 stelle');
	data.setCell(2, 0, '3 stelle');
	data.setCell(3, 0, '4 stelle');
	data.setCell(4, 0, '5 stelle');
	
	data.setCell(0, 1, 2);
	data.setCell(1, 1, 35);
	data.setCell(2, 1, 38);
	data.setCell(3, 1, 198);
	data.setCell(4, 1, 56);
  
	// Create and draw the visualization.
	new google.visualization.ColumnChart(document.getElementById('movie_stats_info_chart')).
		draw(data, {is3D: true, max: 198+10 , tooltipWidth: '100', axisColor:'#ddd', focusBorderColor:"#fff", legend: 'none', enableTooltip: true});
  }
  

  google.setOnLoadCallback(drawVisualization);
</script>

</head>

<body>

<div id="container">

	<div id="sidebar">
		<!-- MOVIE -->
		<div id="movie_info_container">
			<img src="1556.jpg">
			<div id="movie_title">Shutter island</div>
			<div id="movie_director">di Martin Scorsese</div>
		</div>
		
		<div id="movie_user_belonging">
			In videoteca, <a href="#">vuoi modificarlo?</a>
		</div>
		
		<div id="movie_user_belonging">
			Aggiungi in: <a href="#">videoteca</a> | <a href="#">wishlist</a>
		</div>
		
		<!-- USERS -->
		<div class="contacts">
			<div class="section_title">Utenti (<a href="#">672</a>) <span class="section_title_tiny"><a href="#">12 amici</a></span> <span class="section_title_tiny"><a href="#">528 vicini</a></span></div>
			<ul class="contacts_ul">
				<li><a href="#"><img src="flickr4.jpg"></a></li>
				<li><a href="#"><img src="flickr1.jpg"></a></li>
				<li><a href="#"><img src="flickr2.jpg"></a></li>
				<li><a href="#"><img src="flickr3.jpg"></a></li>
				<li><a href="#"><img src="flickr6.jpg"></a></li>
				<li><a href="#"><img src="flickr5.jpg"></a></li>
				<li><a href="#"><img src="flickr7.jpg"></a></li>
				<li><a href="#"><img src="flickr8.jpg"></a></li>
				<li><a href="#"><img src="flickr9.jpg"></a></li>
				<li><a href="#"><img src="flickr10.jpg"></a></li>
				<li><a href="#"><img src="flickr11.jpg"></a></li>
				<li><a href="#"><img src="flickr12.jpg"></a></li>
				<li><a href="#"><img src="flickr13.jpg"></a></li>
				<li><a href="#"><img src="flickr14.jpg"></a></li>
				<li><a href="#"><img src="flickr15.jpg"></a></li>
				<li><a href="#"><img src="flickr16.jpg"></a></li>
				<li><a href="#"><img src="flickr17.jpg"></a></li>
				<li><a href="#"><img src="flickr18.jpg"></a></li>
				<li><a href="#"><img src="flickr19.jpg"></a></li>
				<li><a href="#"><img src="flickr20.jpg"></a></li>
				<li><a href="#"><img src="flickr8.jpg"></a></li>
				<li><a href="#"><img src="flickr9.jpg"></a></li>
				<li><a href="#"><img src="flickr10.jpg"></a></li>
			</ul>
		</div>
		
	</div>
	<div id="content">
		<div id="header">
			<div id="global_search_button">
				Cerca
			</div>
			<ul id="menu_ul">
				<li class="first">home</li>
				<li onclick="alert('eseguire funzione di shelf.html')">fubbyo</li>
				<li>contatti</li>
				<li>messaggi</li>
				<li>profilo</li>
				<li class="last">esci</li>
			</ul>
		</div>
		
		<div id="main_content">
			<div id="panels">
				<div id="left_panel">
					<a href="#" onclick="goRight(1)">Go right</a>
					left
				</div>
				<div id="central_panel">
					<div id="shelf_middle_bar">
						<ul id="shelf_middle_bar_options">
							<li class="first last" onclick="goRight(2)">Vedi recensioni</li>
						</ul>
					</div>
					
					<div id="movie_content">
						<div id="movie_plot_label">Trama</div>
						<div id="movie_plot_text">
							Tornando da un matrimonio in automobile, Tun e Jane non si accorgono in tempo di una giovane ragazza che attraversa la strada nel buio di una strada fuori mano e la investono. Preso dal panico, il ragazzo convince la sua fidanzata a scappare senza prestare soccorso alla vittima.Una volta tornati alla loro vita, mentre la ragazza è corrosa dai sensi di colpa, Tun sembra riuscire a lasciarsi alle spalle il terribile gesto, fino a quando si accorge che nelle fotografie che scatta appaiono degli strani fasci di luce e delle curiose ombre. Nonostante il suo iniziale scetticismo, Tun inizia a convincersi che si tratta dello spettro della ragazza che lo ossessiona in cerca di vendetta e cosi anche Jane, che inizia ad essere tormentata da sinistre apparizioni.
						</div>
						<div id="movie_secondary_info_container">
							<div id="movie_duration_label">Durata</div>
							<div id="movie_duration_text">97 minuti</div>
							<div id="movie_year_label">Anno di uscita</div>
							<div id="movie_year_text">2006</div>
							<div id="movie_avg_mark_label">Voto medio</div>
							<div id="movie_avg_mark_text">
								<img src="star_full.png" />
								<img src="star_full.png" />
								<img src="star_full.png" />
								<img src="star_full.png" />
							</div>
						</div>
						<div id="movie_stats_info_container">
							<div id="movie_stats_info_label">Ecco come è stato votato il film</div>
							<div id="movie_stats_info_chart"></div>
						</div>
					</div>
				</div>
				
				<div id="right_panel">
					<div id="shelf_middle_bar">
						<ul id="shelf_middle_bar_options">
							<li class="first last" onclick="goLeft(-1)">Vedi dettagli</li>
						</ul>
					</div>
					
					<div id="movie_content">
						<ul id="movie_review_ul">
							<li>
								<div class="movie_review_title">Shutter Island è stato fantastico</div>
								<div class="movie_review_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
								<div class="movie_review_footer">
									<div class="movie_review_author">
										<img class="movie_review_author_image" src="profile_picture.jpg">
										<div class="movie_review_author_username">Scritta da Fubbyo</div>
										<div class="movie_review_date_added">il 24/03/2010</div>
										<div class="movie_review_movie_mark">
											Voto al film: <img src="star_full.png" /><img src="star_full.png" /><img src="star_full.png" />
										</div>
									</div>
									
									<div class="movie_review_votes">
										<div class="movie_review_opinions"><img src="comments.png" /><a href="#">7 commenti</a><img src="add_comment.png" /><a href="#">Scrivi commento</a></div>
										<div class="movie_review_votes_positive"><img src="smile.png" />Piace a 97 utenti. <a href="#">Mi piace</a></div>
									</div>
								</div>
							</li>
							<li>
								<div class="movie_review_title">A me non ha detto molto</div>
								<div class="movie_review_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</div>
								<div class="movie_review_footer">
									<div class="movie_review_author">
										<img class="movie_review_author_image" src="flickr11.jpg">
										<div class="movie_review_author_username">Scritta da Giulia</div>
										<div class="movie_review_date_added">il 22/03/2010</div>
										<div class="movie_review_movie_mark">
											Nessun voto dato
										</div>
									</div>
									
									<div class="movie_review_votes">
										<div class="movie_review_opinions"><a href="#">Nessun commento</a><img src="add_comment.png" /><a href="#">Scrivi commento</a></div>
										<div class="movie_review_votes_positive"><img src="smile.png" />Piace a 2 utenti. <a href="#">Mi piace</a></div>
									</div>
								</div>
							</li>
							<li>
								<div class="movie_review_title">standard chunk</div>
								<div class="movie_review_text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</div>
								<div class="movie_review_footer">
									<div class="movie_review_author">
										<img class="movie_review_author_image" src="flickr8.jpg">
										<div class="movie_review_author_username">Scritta da Irene</div>
										<div class="movie_review_date_added">il 12/03/2010</div>
										<div class="movie_review_movie_mark">
											Voto al film: <img src="star_full.png" /><img src="star_full.png" /><img src="star_full.png" /><img src="star_full.png" /><img src="star_full.png" />
										</div>
									</div>
									
									<div class="movie_review_votes">
										<div class="movie_review_opinions"><a href="#">Nessun commento</a><img src="add_comment.png" /><a href="#">Scrivi commento</a></div>
										<div class="movie_review_votes_positive"><a href="#">Mi piace</a></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					
					<div id="shelf_navigation_bar">
						<ul id="shelf_navigation_bar_ul">
							<li class="first">Indietro</li>
							<li class="last">Avanti</li>
						</ul>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>

</div>

<div id="footer">
	<a href="#">Informazioni su taMuvii</a> | <a href="#">Contatti</a> | <a href="#">Blog di taMuvii</a> | <a href="#">Aiuto</a>
</div>

</body>

</html>
