#movie_details {
	font-size: 12px;
	margin-bottom: 10px;
}
#movie_details ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.movie_details_image {
	width: 226px;
	border: 1px solid #aaa;
}
#movie_details li.title {
	font-size: 14px;
	font-weight: bold;
}

#social_movie_details_container {
	border: 1px dashed #ccc;
	padding: 5px;
	margin-bottom: 35px;
}
#social_movie_details {
	font-size: 12px;
}
#social_movie_details ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


#movie_users_list_container {
	width:100%; 
	overflow:hidden; 
	position: relative;
}
#movie_users {
	margin-bottom: 55px;
}
#movie_users a {
	color: blue;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}
#movie_users a:hover {
	text-decoration: underline;
}
#movie_users_view_all {
	font-weight: normal;
	color: blue;
}
.first_mark_image {
	margin-left: -2px;
}


#review_container ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: justify;
	font-size: 12px;
}
#review_container li {
	margin-bottom: 60px;
}

.review_title_container {
	border-bottom: 1px dotted #ccc; 
	border-top: 1px solid #ccc; 
	margin-bottom: 5px; 
	background-color: #eee; 
	padding: 5px; 
	height: 20px;
}
.review_title {
	float:left; margin-top: 3px;
}
.review_title_span {
	font-weight: bold; 
	font-size: 14px;
}
.vote_options_container {
	float:right;
}
.vote_options_container img {
	cursor: pointer;
}
.vote_error_message_container {
	width: 100%;
}
.vote_error_message {
	font-size: 12px;
	font-weight: bold;
	color: red;
	border: 1px solid red;
	padding: 5px;
	margin-bottom: 5px;
}
.vote_error_message img {
	vertical-align: bottom;
}
.review_text {
	margin-bottom: 5px; 
	padding-bottom: 5px; 
	border-bottom: 1px dotted #ccc;
}


#social_movie_options {
	font-size: 12px; 
	margin-bottom: 10px; 
	padding: 5px; 
	border: 1px dashed #aaa;
}
#social_movie_options_list {
	list-style: none; 
	padding: 0; 
	margin-top: 5px;
}