/*
	Sidebar
*/
#sidebar {
	float:left;
	width:220px;
	padding:10px;
	background:#fff;
	margin-right: 10px;
	margin-bottom: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
}

/*
	User profile
*/
#user_profile {
	margin-bottom: 25px;
}
#user_profile a {
	color: blue;
	font-size: 11px;
	text-decoration: none;
}
#user_profile a:hover{
	text-decoration: underline;
}
#user_profile_info {
	float:left;
	height: auto;
	margin-left: 10px;
	font-size: 14px;
}
#user_profile_options {
	clear:both;
	padding-top: 5px;
	list-style:none;
}
#user_profile_options ul {
	margin: 0;
	padding: 0;
	list-style:none;
}
#user_profile_options li {
	display: inline;
	padding: 3px;
}
#user_profile_options li img {
	border: none;
	height: 16px;
	width: 16px;
	cursor: pointer;
}
#option_hint_container {
	border-bottom: 1px dashed #ccc; 
	border-top: 1px dashed #ccc;
	height: 20px;
	font-size: 12px; 
	line-height: 20px; 
	vertical-align: middle;
}
#option_hint {
	color: #aaa;
}
#other_info_container {
	width: 100%;
}
#other_info {
	clear: both; 
	border: 1px dashed #ccc; 
	margin-bottom: 10px; 
	padding: 5px;
}



/*
	Private message
*/
#send_message_container {
	margin-bottom: 55px;
}
#message_area a {
	color: blue;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}
#message_area a:hover {
	text-decoration: underline;
}

/*
	Relationship
*/
#relationship_container {
	margin-bottom: 25px;
}
#relationship_area a {
	color: blue;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}
#relationship_area a:hover {
	text-decoration: underline;
}
#relationship {
	border: 1px solid #ccc;
	width: 100%;
}
#relationship ul {
	list-style:none;
	margin:0;
	font-size:12px;
	padding: 5px;
}
#relationship li {
	padding-left:5px; 
	margin:0;
	line-height: 30px;
	cursor: pointer;
}
#relationship li:hover {
	background-color: #eee; 
}




/*
	Compatibility
*/
#compatibility_container {
	margin-bottom: 25px;
}
#compatibility_area a {
	color: blue;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}
#compatibility_area a:hover {
	text-decoration: underline;
}
#compatibility_message {
	border:1px solid #aaa; 
	padding: 10px;
}
#compatibility_value {
	text-align:center;
	font-size: 34px;
}




/*
	Person list
*/
.person_list {
	margin:0px;
	padding:0;
	list-style:none;
}
.person_list li {
	margin:0;
	padding-top: 5px;
	cursor: pointer;
	border-bottom: 1px dashed #ccc;
	height: 35px;
	width:100%;
}
.person_list_info {
	float:left;
	height: 35px;
	margin-left: 10px;
	font-size: 12px;
}

.person_list_info a {
	color: black;
	text-decoration: none;
}
.person_list_info a:hover {
	text-decoration: underline;
}

.person_list_info_container {
	
}


/*
	Navigation for scrollable divs (next, prev, title, images...)
*/
.relationship_title {
	-moz-border-radius: 6px;
	background-color: #be2525;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	font-size: 13px;
	font-weight: bold;
	color: white;
	height: 30px;
}

.relationship_navigation {
	margin-top: 5px;
}
.relationship_navigation a {
	font-size: 12px;
	text-decoration: none;
	color: white;
}
.relationship_navigation a:hover {
	font-size: 12px;
	text-decoration: underline;
}
.relationship_navigation_image {
	border: 0;
	height: 16px;
	width: 16px;
	vertical-align: middle;
}



/*
	Directors
*/
#directors_list_container {
	width:100%; 
	overflow:hidden; 
	position: relative;
}
#directors {
	margin-bottom: 55px;
}
#directors a {
	color: blue;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}
#directors a:hover {
	text-decoration: underline;
}
#directors_view_all {
	font-weight: normal;
	color: white;
}


/*
	Friends
*/
#friends_list_container {
	width:100%; 
	overflow:hidden; 
	position: relative;
}
#friends {
	margin-bottom: 55px;
}
#friends a {
	color: white;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}
#friends a:hover {
	text-decoration: underline;
}
#friends_view_all {
	font-weight: normal;
	color: white;
}



/*
	Neighbors
*/
#neighbors_list_container {
	width:100%; 
	overflow:hidden; 
	position: relative;
}
#neighbors {
	margin-bottom: 55px;
}
#neighbors a {
	color: white;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}
#neighbors a:hover {
	text-decoration: underline;
}
#neighbors_view_all {
	font-weight: normal;
	color: white;
}


/*
	Simils
*/
#simils_list_container {
	width:100%; 
	overflow:hidden; 
	position: relative;
}
#simils {
	margin-bottom: 55px;
}
#simils a {
	color: blue;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}
#simils a:hover {
	text-decoration: underline;
}
#simils_view_all {
	font-weight: normal;
	color: blue;
}